*,
::before,
::after {
  padding: 0;
  margin: 0;
}

body{
    margin-left: 3rem;
    background-color: rgb(20, 20, 56);
    color:white;
    text-align: center;
}

li{
    margin-left: 1.5rem;
}


h2{
    margin-top: 3rem;
}

img{
    width: 32rem;
    height: 25rem;
    border-radius: 0.5rem;
    margin:2rem auto;
    display:block;
}


.main > h1{
    font-size: 5rem;
}

.main > p{
    display: block;
    margin: 1.5rem auto; 
    font-size: 1.4rem;
    width:40%;
}


ul,ol{
    display: inline-block;
    border: white solid 0.3rem;
    padding:2.5rem 3.5rem;
    margin:7rem auto;
    border-radius: 1.2rem;
}

ol{
    width:40%;
    text-align: center;
    margin:1rem auto 150rem auto;
    padding:0 ;
}


h2{
    font-size:2.5rem;
    margin-top:1.5rem auto 0rem auto;
    color:rgb(164, 255, 223);
}

li{
    font-size: 2.5rem;
    color:white;
    margin-top:3rem;
}

li:first-child{
    margin-top:0;   
}

a{
    text-decoration: none;
    display: inline-block;
}

li  a:hover,a:hover{
    transform: scale(1.02);
    color:rgb(41, 143, 107);
}

li > a:visited{
    color:white;
}

li > a:hover,a:hover{
    transform: scale(1.02);
    color:rgb(41, 143, 107);
}


#small{
    border:none;
    display: inline-block;
    /* list-style-type: none; */
    text-align: left;
    margin:0 auto 2rem auto;
    padding:0; 
}

#small > li{
    font-size: 2.2rem;
    margin-top: 2.5rem;    
}

.back{
    margin:3rem 0 2rem 1rem;
    float:left;
}

.back > a{
    color:rgb(164, 255, 223);
}

